
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="image_wrapper">
        <img class="user_photo" [src]="profile.user_photo" alt="">
      </div>
    </div>
    <div class="col-6">
      <div class="namewrapper">
        <h3 class="first_name">{{profile.first_name}}</h3>&nbsp;&nbsp;
        <h3 class="last_name">{{profile.last_name}}</h3>
      </div>
      <div class="description">
        <p>{{profile.description}}</p>
      </div>
    </div>
  </div>
</div>
